<div class="d-flex flex-column align-items-center justify-content-center">
 <h1 class="mt-4">Welcome To Scheduled Tweets</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>